@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('/fonts/pfdintextcondpro-light-webfont.eot');
    src: url('/fonts/pfdintextcondpro-light-webfont.eot?') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'),
    url('/fonts/pfdintextcondpro-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_proitalic';
    src: url('/fonts/pfdintextcondpro-italic-webfont.eot');
    src: url('/fonts/pfdintextcondpro-italic-webfont.eot?') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-italic-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
    url('/fonts/pfdintextcondpro-italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('/fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('/fonts/pfdintextcondpro-medium-webfont.eot?') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
    url('/fonts/pfdintextcondpro-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('/fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('/fonts/pfdintextcondpro-regular-webfont.eot?') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
    url('/fonts/pfdintextcondpro-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_probold';
    src: url('/fonts/pfdintextcondpro-bold-webfont.eot');
    src: url('/fonts/pfdintextcondpro-bold-webfont.eot?') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
    url('/fonts/pfdintextcondpro-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a.anchor {
    position: absolute;
    margin-top: -150px;
}

.btn-primarys {
    color: #fff;
    background: #353535;
    border: 1px solid transparent;
    transition: all ease .2s;
}
.btn-primarys:hover {
    border: 1px solid #ff6600!important;
    color: #fff!important;
    background: #1d1d1d;
}

.btn {
    display: inline-block;
    padding: 6px 12px 3px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 25px;
    border-radius: 8px;
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}

.top-menu-bg {
    background: #fff;
}
section {
    background: #000;
}

.top-menu-box {
    position: relative;
    width: 1070px;
    height: 125px;
    margin: 0 auto;
    padding: 8px 0 6px 0;
}

.logo {
    display: block;
    width: 280px;
    height: 82px;
    background: url("../images/logo0000.png") no-repeat;
    margin: 0px 0 0 30px;
}

.menu-items {
    display: block;
    width: 500px;
    text-align: center;
    padding: 8px 0 0 0;
}

.menu-items a {
    padding: 0 4px;
    text-decoration: underline;
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 13px;
}

.top-phone {
    position: absolute;
    right: 0px;
    padding-left: 80px;
    top: 5px;
    width: 310px;
    font-family: 'pf_din_text_cond_promedium';
    font-size: 24px;
    line-height: 22px;
    color: #000;

    background: url("../images/phone2.png") no-repeat;
}

.top-phone.replaced {
    background-image: url("../images/phone2.png");
}

.top-padding {
    height: 120px;
}


.box1 {
    background: url("../images/promo-bg.jpg") center top no-repeat;
    padding: 33px 0 0 0;
    position: relative;
}

.box1-additional-bg {
    background: url("../images/box1-bg0.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: -110px;
    top: 30px;
    width: 497px;
    height: 371px;
}

.box1-additional-bg-none {
    position: absolute;
    z-index: 1;
    left: -110px;
    top: 30px;
    width: 497px;
    height: 371px;
}

.box1 .giftimg {
    width: 120px;
    margin: 0 auto;
}

.box1-additional-bg3 {
    background: url("../images/icons000.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 25px;
    margin: 0 0 0px;
    width: 19px;
    height: 92px;
}

.box1-additional-bg3-none {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 25px;
    margin: 0 0 0 0px;
    width: 19px;
    height: 92px;
}

.box1-box {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.box1-padding {
    padding: 0 0 0 0px;
}

.box1-padd1 {
    height: 10px;
}

.box1 h3 {
    text-align: center;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 48px;
    line-height: 48px;
    color: #000;
    margin: 0;
}

.box1-h3-additional-text {
    font-family: 'pf_din_text_cond_prolight';
    font-size: 20px;
    line-height: 20px;
    color: #000;
    padding: 0 180px;
}

.box1-moretext {
    font-family: 'pf_din_text_cond_prolight';
    font-size: 19px;
    line-height: 34px;
    color: #000;
    padding: 33px 0 20px 70px;
}

.box2 {
    background: #fff;
    position: relative;
    padding: 45px 0 55px 0;
}


.box2-box {
    width: 980px;
    margin: 0 auto;
}

.box2-title {
    background: url("../images/title-li.gif") center repeat-x;
    text-align: center;
    margin-bottom: 40px;
}

.box2-title span {
    background: #fff;
    padding: 0 15px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
}

.box2-cicle {
    position: relative;
    height: 470px;
    margin-top: 20px;
}

.box2-cicle .circle-big {
    position: relative;
    left: 0;
    top: 0;
    width: 299px;
    height: 299px;
}

.circle-big div {
    position: absolute;
    left: 0;
    top: 0;
    width: 299px;
    height: 299px;
    z-index: 1;
}

.circle-big .cicle1 {
    z-index: 2;
    background: url("../images/box2-cic.png");
}

.circle-big .cicle2 {
    background: url("../images/box2-cid.png");
}

.circle-big .cicle3 {
    background: url("../images/box2-cie.png");
}

.circle-big .cicle4 {
    background: url("../images/box2-cif.png");
}

.box2-cicle .cicle1m,
.box2-cicle .cicle2m,
.box2-cicle .cicle3m,
.box2-cicle .cicle4m {
    border-radius: 65px;
    position: absolute;
    width: 139px;
    height: 138px;
    z-index: 2;
}

.box2-cicle .cicle1m {
    left: 10px;
    top: 318px;
    background: url("../images/box2-cig.png");
}

.box2-cicle .cicle2m {
    left: 192px;
    top: 304px;
    background: url("../images/box2-cih.png");
}

.box2-cicle .cicle3m {
    left: 309px;
    top: 170px;
    background: url("../images/box2-cii.png");
}

.box2-cicle .cicle4m {
    left: 320px;
    top: 3px;
    background: url("../images/box2-cij.png");
}

.box2-box h4 {
    font-family: 'pf_din_text_cond_proregular';
    color: #0076da;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.box2-box p {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 25px;
}

.box2-box ul {
    margin: 0 0 25px 0;
    padding: 0;
}

.box2-box li {
    margin: 0;
    padding: 0 0 0 35px;
    list-style: none;
    background: url("../images/check000.png") 10px 5px no-repeat;
    font-family: 'pf_din_text_cond_proregular';
    color: #555;
    font-size: 18px;
    line-height: 20px;
}

.box3 {
    background: url("../images/box-bg03.jpg") left top repeat;
    padding: 22px 0 0 0;
    position: relative;
}

.box3-additional-bg {
    background: url("../images/girl0000.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0px;
    margin: 0 0 0 -400px;
    width: 187px;
    height: 285px;
}

.box3-box {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.box3-padding {
    padding: 15px 0 25px 0;
}

.box3-padd1 {
    height: 10px;
}

.box3 h3 {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 59px;
    line-height: 59px;
    color: #fff;
    margin: 0;
}

.box3 h3 {
    text-align: center;
    color: #0071CF;
    margin: 0 0 10px;
}

.box3 h3 span {
    color: #FF0008;

}

.box3 iframe {
    display: block;
    width: 560px;
    float: left;
    margin: 0 0 0 150px;
}


.box4 {
    background: #fff;
    position: relative;
    padding: 45px 0 85px 0;
}

.box4-box {
    width: 960px;
    margin: 0 auto;
}

.box4-title {
    background: url("../images/title-li.gif") center repeat-x;
    text-align: center;
    margin-bottom: 40px;
}

.box4-title span {
    display: inline-block;
    background: #fff;
    padding: 0 15px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
}

.box4-box h4 {
    font-family: 'pf_din_text_cond_proregular';
    color: #0076d9;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 15px;
    text-align: center;
}

.box4-box p {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 12px;
    text-align: center;
}

.box4-steps {
    background: url("../images/steps000.png") 0 0 no-repeat;
    padding: 30px 0 0 0;
}

.box4-box .box4-steps p {
    font-family: 'pf_din_text_cond_probold';
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}

.box5 {
    background: url("../images/box-bg00.jpg") left top repeat;
    padding: 22px 0 0 0;
    position: relative;
}

.box5-additional-bg {
    background: url("../images/box5-bg1.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: 47%;
    bottom: 5px;
    margin: 0 0 0 -450px;
    width: 307px;
    height: 300px;
}

.box5-box {
    width: 960px;
    margin: 0 auto;
}

.box5-padding {
    padding: 0 0 0 195px;
}

.box5-padding2 {
    padding: 15px 0 25px 0;
}

.box5-padd1 {
    height: 10px;
}

.box5 h3 {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 59px;
    line-height: 59px;
    color: #fff;
    margin: 0;
}

.box5 h3 {
    text-align: center;
    color: #0071CF;
    margin: 0 0 10px;
}

.box6 {
    background: #fff;
    position: relative;
    padding: 55px 0 85px 0;
}

.box6-box {
    width: 960px;
    margin: 0 auto;
}

.box6-title {
    background: url("../images/title-li.gif") center repeat-x;
    text-align: center;
    margin-bottom: 40px;
}

.box6-title span {
    display: inline-block;
    background: #000;
    padding: 0 15px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 36px;
    color: #707070;
    text-transform: uppercase;
}

.product {
    width: 245px;
    float: left;
    margin: 0;
}


.box6-cicle1 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/box6-cic.png");
}

.box6-cicle2 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/box6-cid.png");
}

.box6-cicle3 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/box6-cie.png");
}

.box6-cicle4 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/steklopaket.png");
}

.box6-cicle5 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/cottege.png");
}

.box6-cicle6 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/moskit.png");
}

.box6-cicle7 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/otkos.png");
}

.box6-cicle8 {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background: url("../images/balkon.png");
}


.box6-box h4 {
    font-family: 'pf_din_text_cond_prolight';
    color: #0076da;
    font-size: 26px;
    line-height: 26px;
    padding: 25px 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.box6-box p {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px 10px 10px;
    text-align: justify;
}

.box6-box .form-button {
    text-align: center;
    padding: 0px 0 55px 0;
}

.box6-image {
    width: 620px;
    height: 430px;
    margin: 0 auto;
    background: url("../images/box6-img.jpg");
}

.yandexmap {
    width: 800px;
    margin: 10px auto 0;

    border: #c4afba 1px solid;


}


.box7 {
    background: url("../images/box-bg00.jpg") left top repeat;
    padding: 22px 0 0 0;
    position: relative;
}

.box7-additional-bg {
    background: url("../images/girl0000.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0px;
    margin: 0 0 0 -400px;
    width: 187px;
    height: 285px;
}

.box7-box {
    width: 960px;
    margin: 0 auto;
}

.box7-padding {
    padding: 0 0 0 30px;
}

.box7-padding2 {
    padding: 15px 0 25px 0;
}

.box7-padd1 {
    height: 10px;
}

.box7 h3 {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 59px;
    line-height: 59px;
    color: #fff;
    margin: 0;
}

.box8 {
    background: #fff;
    position: relative;
    padding: 55px 0 85px 0;
}

.box8-box {
    width: 960px;
    margin: 0 auto;
}

.box8-title {
    background: url("../images/title-li.gif") center repeat-x;
    text-align: center;
    margin-bottom: 30px;
}

.box8-title span {
    display: inline-block;
    background: #fff;
    padding: 0 15px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
}

.box8-image {
    width: 960px;
    height: 715px;
    margin: 0 auto 40px auto;
    position: relative;
}

.box8-image div {
    position: absolute;
    z-index: 1;
}

.box8-image .img0b,
.box8-image .img1b,
.box8-image .img2b,
.box8-image .img3b,
.box8-image .img4b {
    width: 629px;
    height: 467px;
    left: 0;
    top: 0;
}

.box8-image .img0b {
    z-index: 2;
    background: url("../images/box8-img.jpg");
}

.box8-image .img1b {
    background: url("../images/box8-imh.jpg");
}

.box8-image .img2b {
    background: url("../images/box8-imi.jpg");
}

.box8-image .img3b {
    background: url("../images/box8-imj.jpg");
}

.box8-image .img4b {
    background: url("../images/box8-imk.jpg");
}

.box8-image .img1m {
    width: 310px;
    height: 231px;
    left: 0;
    bottom: 0;
    top: auto;
    background: url("../images/box8-iml.jpg");
}

.box8-image .img2m {
    width: 299px;
    height: 231px;
    left: auto;
    right: 330px;
    top: auto;
    bottom: 0;
    background: url("../images/box8-imm.jpg");
}

.box8-image .img3m {
    width: 310px;
    height: 462px;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    background: url("../images/box8-imn.jpg");
}

.box8-image .img4m {
    width: 310px;
    height: 231px;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    background: url("../images/box8-imo.jpg");
}

.box8-cicle1 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url("../images/box8-cic.png") no-repeat;
}

.box8-cicle2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url("../images/box8-cid.png") no-repeat;
}

.box8-cicle3 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url("../images/box8-cie.png") no-repeat;
}

.box8-box .box8-author {
    font-family: 'pf_din_text_cond_prolight';
    color: #0076da;
    font-size: 24px;
    line-height: 24px;
    padding: 25px 25px 0 25px;
    text-align: right;
    text-transform: uppercase;
}

.box8-box .box8-work {
    font-family: 'pf_din_text_cond_prolight';
    color: #989898;
    font-size: 24px;
    line-height: 24px;
    padding: 0 25px 25px 25px;
    text-align: right;
}

.box8-box p {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 18px;
    line-height: 22px;
    padding: 0 15px 10px 15px;
    text-align: justify;
}

.box9 {
    background: url("../images/box-bg00.jpg") left top repeat;
    padding: 22px 0 25px 0;
    position: relative;
}

.box9-additional-bg {
    background: url("../images/money000.png") left top no-repeat;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 25px;
    margin: 0 0 0 -490px;
    width: 228px;
    height: 200px;
}

.box9-box {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.box9 h3 {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 240px;
    top: 20px;
}

.box9-moretext {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 18px;
    line-height: 22px;
    color: #000;
    position: absolute;
    z-index: 1;
    left: 240px;
    top: 100px;
    width: 430px;
    text-align: justify;
}

.box9-moretext2 {
    font-family: 'pf_din_text_cond_proregular';
    font-size: 33px;
    line-height: 33px;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 220px;
}

.itlab {
    text-align: right;
    text-align: right;
    color: #000;
    padding: 25px 0 0 0;
}

.itlab a {
    color: #000;
    text-decoration: underline;
}

.countdown-box {
    background: url("../images/countdow.png") 0 0 no-repeat;
    position: relative;
    width: 391px;
    height: 197px;
    margin: 0 0 0 auto;
}

.countdown-box-none {
    background: #fff;
    position: relative;
    width: 550px;
    height: 380px;
    margin: 0 0 40px 120px;
    text-align: center;
    padding: 10px 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.countdown-box .title1 {
    font-family: 'pf_din_text_cond_prolight';
    font-size: 33px;
    line-height: 33px;
    color: #000;
    text-align: center;
}

.red {
    font-size: 24px;
    color: #ff0000;
    font-weight: bold;
    text-shadow: 1px 1px 1px black, 0 0 0.1em #fff;
}

.gift {
    font-size: 24px;
    font-weight: bold;
    line-height: 23px;
    text-shadow: 1px 1px 1px black;
}

.countdown-box .title2 {
    font-family: 'pf_din_text_cond_prolight';
    font-size: 33px;
    line-height: 33px;
    color: #000;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 25px;
}

.countdown-box .title3 {
    font-family: 'pf_din_text_cond_prolight';
    font-size: 24px;
    line-height: 28px;
    color: #000;
    position: absolute;
    left: 13px;
    top: 115px;
    width: 90px;
    text-align: right;
}

.countdown-box .countdown {
    position: absolute;
    left: 120px;
    top: 119px;
    width: 260px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 40px;
    line-height: 40px;
    color: #000;
    height: 40px;
}

.countdown .d {
    float: left;
    text-align: right;
    width: 52px;
    margin-right: 13px;
}

.countdown .h {
    float: left;
    text-align: right;
    width: 50px;
    margin-right: 15px;
}

.countdown .m {
    float: left;
    text-align: right;
    width: 50px;
    margin-right: 15px;
}

.countdown .s {
    float: left;
    text-align: right;
    width: 50px;
}


.officeimage img {
    float: left;
    margin: 0 0 20px 20px;
}


.order-form-act {
    background: url("../images/order-fo-act.png") 0 0 no-repeat;
    width: 240px;
    height: 380px;
    margin: 0px 60px 0 0;
}

.order-form-act .padding {
    padding: 20px 10px;
}

.order-form-act .title1 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form-act .title2 {
    font-family: 'pf_din_text_cond_proitalic';
    color: #000;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 10px;
}

.order-form-act .title3 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 23px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form-act .title4 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form-act .form-button {
    text-align: center;
    padding: 6px 0 0 0;
}


.order-form {
    background: url("../images/order-fo.png") 0 0 no-repeat;
    width: 240px;
    height: 257px;
}

.order-form .padding {
    padding: 20px 10px;
}

.order-form .title1 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form .title2 {
    font-family: 'pf_din_text_cond_proitalic';
    color: #000;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 10px;
}

.order-form .title3 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 23px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form .title4 {
    font-family: 'pf_din_text_cond_proregular';
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

.order-form .form-button {
    text-align: center;
    padding: 6px 0 0 0;
}


#turkey .promoblock {
    display: block;
    width: 1000px;
    background: url('../images/winturk.png') center 60px no-repeat;
    text-align: center;
}

#turkey .promoblock h3 {
    margin: 20px 0 0;
    color: #003da1;
    font-size: 52px;
}

#turkey .promoblock h3 strong {
    font-size: 54px;
    color: #ff0008;
}


#turkey .promoblock .promotext {
    display: block;
    margin: 390px auto 0;
    font-size: 24px;
    width: 840px;
}

#turkey .order-form-act {
    background: none;
    width: 850px;
    height: 100px;
    margin: 0 auto;
}

#turkey .order-form-act .form-button {
    display: inline-block;
}


#turkey input {
    display: inline-block;
    width: 200px;
    margin: 3px 30px 0;
}

#ActionTurkey .modal-dialog {
    width: 800px;
}

#ActionTurkey .descrblock {
    display: inline-block;
    width: 330px;
    vertical-align: top;
    margin: 0 20px;
}

#ActionTurkey .tourprogram ul {
    display: block;
    clear: both;
    margin: 0 0 10px;
}

#ActionTurkey .tourprogram ul li {
    float: left;
    width: 500px;
}

#ActionTurkey .tourprogram ul img {
    float: right;
    width: 160px;
    margin: 0 20px 0 0;
}


.modal-dialog {
    width: 400px;
}

.modal-content {
    position: relative;
    padding: 5px 15px 15px 15px;
}

.modal-content .order-form {
    background: none;
    height: auto;
    width: 100%;
}

.modal-content .close {
    width: 21px;
    height: 21px;
    background: url("../images/close.png") 0 0 no-repeat;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    right: 9px;
    top: 12px;
}

.window-title {
    text-align: center;
    margin-bottom: 10px;
}

.window-title span {
    display: inline-block;
    background: #fff;
    padding: 0 15px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
}

.order-complete {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 18px;
    line-height: 22px;
    padding: 45px 15px 30px 15px;
    text-align: center;
}


#calc {
    position: fixed;
    left: 0;
    bottom: 60px;
    z-index: 20;
    height: 247px;
    width: 27px;
    background: url("../images/calc0000.png") right top no-repeat;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
}

#calc.open {
    width: 240px;
}

#calc form {
    margin: 0 10px;
}


#calc form input {
    width: 95%;
}

#calc form textarea {
    width: 95%;
    height: 45px;
    margin: 0 0 5px;
    resize: none;
}


#calc .calc-container {
    margin: 0;
}

#calc .calc-box-open {
    display: none;
    width: 213px;
    padding: 0;
    margin: 0;
}

#calc .calc-box-btn {
    width: 27px;
    padding: 0;
    margin: 0;
}

.calc-open-btn {
    width: 27px;
    height: 177px;
    display: block;
}

.calc-box {
    display: none;
    padding: 5px 10px 0 10px;
}

#calc.open .calc-box,
#calc.open .calc-box-open {
    display: block;
}

#calc h3 {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    padding: 0 0 7px 0;
}

#calc label {
    font-family: 'pf_din_text_cond_proregular';
    color: #000;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}

#calc .input-sm {
    width: 80px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 25px;
    padding: 2px 12px;
    font-size: 16px;
    text-align: center;
    margin: 0 0 6px 0;
}

#calc .col-md-6,
#calc .col-md-7 {
    padding-right: 0px;
}

#calc .form-button {
    text-align: right;
    padding: 0 0 8px 0;
}

.calc-info {
    font-family: 'pf_din_text_cond_proregular';
    color: #6b6b6b;
    font-size: 12px;
    line-height: 12px;
}

#calc_result {
    font-family: 'pf_din_text_cond_probold';
    color: #000;
    font-size: 18px;
    line-height: 18px;
    width: 120px;
    overflow: hidden;
}




