@font-face {
    font-family: 'MyRiadPro';
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot?');
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot?') format('embedded-opentype'),
    url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

/* reset styles start*/

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

svg {
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    background: transparent;
    color: inherit;
    padding: 0;
    display: block;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: block;
}

button {
    cursor: pointer;
    border: none;
}

button:focus {
    outline: none;
}

/* reset styles end*/

body {
    font-family: 'MyRiadPro', sans-serif;
    font-weight: 400;
}

/*main style start*/

.main-container {
    margin-top: 92px;
}

.block {
    padding: 45px 0;
}

.title {
    font-weight: 400;
    text-align: center;
    font-size: 54px;
    margin-bottom: 75px;
    line-height: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title-with-line {
    font-weight: 400;
    color: #b8b8b8;
    font-size: 36px;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.title-with-line::after,
.title-with-line::before {
    content: '';
    width: calc(100vw / 2 - 50% - 10px);
    height: 1px;
    background-color: #b8b8b8;
    position: absolute;
    top: 45%;
}

.title-with-line::after {
    left: calc(-100vw / 2 + 50%);
}

.title-with-line::before {
    right: calc(-100vw / 2 + 50%);
}

.card-title {
    font-size: 25px;
    color: #ff6600;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    color: #fff;
    background: #353535;
    border: 1px solid transparent;
    transition: all ease .2s;
    font-size: 20px;
    padding: 8px 32px;
    line-height: 25px;
    border-radius: 8px;
    text-transform: uppercase;
}

.btn:hover {
    border: 1px solid #ff6600;
    background: #1d1d1d;
}

.loader {
    position: absolute;
    z-index: 15;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
    transition: opacity .7s ease;
    opacity: 0;
    background-color: rgba(0,0,0,.55);
}

.loader:after,
.loader:before {
    box-sizing: border-box;
}

.loader.is-active {
    top: 0;
    opacity: 1;
}

.loader-default:after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: '';
    animation: rotation 1s linear infinite;
    border: solid 8px #ffffff;
    border-left-color: transparent;
    border-radius: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes blink {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

.header {
    height: 92px;
    color: #fff;
    background-color: #000;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 4px 6px 7px -4px #565656;
}

.header .logo {
    width: 323px;
}

.header-phone:hover {
    transition: all ease .4s;
    color: #4d78da;
    cursor: pointer;
}

.header-phone:hover svg path {
    fill: #4d78da;
    transition: all ease .4s;
}

.header svg {
    width: 20px;
    margin-right: 10px;
}

.main-block {
    height: 1000px;
    background-image: url("../images/main-bacground.webp");
    background-repeat: no-repeat;
    background-position: 0 -155px;
    background-size: contain;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    color: #0085b8;
    text-transform: uppercase;
}

.main-block .title span {
    color: #ff6600;
}

.main-block .title {
    margin-bottom: 0;
}

.refueling-block {
    background-color: #44494c;
    font-size: 24px;
    color: #fff;
}

.refueling-block .title {
    color: #fff;
    font-weight: 400;
    line-height: 100%;
}

.refueling-block .list {
    list-style-type: disc;
    padding-left: 40px;
}

.refueling-block .price {
    font-size: 16px;
    margin-top: 25px;
}

.refueling-block img {
    height: auto;
}

.tagline-block-1 {
    background-color: #000;
}

.tagline-block-1 .title-start {
    color: #ff6600;
}

.tagline-block-1 .title-end {
    color: #1D71A0;
}

.tagline-block-1 img {
    width: 100%;
}

.tagline-block-2 .title {
    color: #1D71A0;
}

.price-list-block {
    background-color: #44494c;
    color: #fff;
}

.price-list-block .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-list-block .card img {
    max-height: 140px;
}

.price-list-block .sub-title {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 48px;
    text-align: center;
}

.price-list-block img {
    margin-bottom: 31px;
}

.price-list-block .btn {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.price-list-block .btn svg {
    width: 15px;
    margin-right: 10px;
}

.price-list-block .btn svg path {
    fill: #fff;
}

.map-block {
    background-color: #000;
}

.map-block .sub-title {
    color: #fff;
    text-align: center;
    margin-bottom: 17px;
    font-size: 20px;
}
.map-block .ymap-container {
    position: relative;
    margin: 3em 0 2em 0;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff url("../images/fake-map.webp") no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 2em  0 rgba(0,0,0,.2);
}

/* Блок, в котором появится Яндекс.Карта */
.map-block #map {
    position: relative;
    z-index: 7;
    width: 100%;
    height: 600px;
    cursor: pointer;
    background-color: transparent;
}

.footer {
    padding: 17px 0 33px 0;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.footer a {
    transition: all ease .3s;
    color: #207cb0;
    margin-left: 7px;
    padding: 3px 0;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul strong {
    padding: 3px 0;
}

.footer ul li {
    min-height: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .main-block {
        height: 800px;
        background-position: 0 -85px;
    }

    .price-list-block .card:last-child {
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .refueling-block .list {
        padding-top: 20px;
    }

    .price-list-block .sub-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 47px;
    }
}

@media screen and (max-width: 576px) {
    .title-with-line {
        margin-bottom: 15px;
    }

    .footer-container {
        display: block;
    }

    .footer ul {
        margin-top: 30px;
    }

    .title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    .header-phone a {
        font-size: 19px;
    }

    .header svg {
        width: 15px;
        margin-right: 7px;
    }

    .header .logo {
        width: 50%;
    }

    .header {
        height: 75px;
    }

    .main-container {
        margin-top: 75px;
    }

    .main-block {
        background-position: 0 40px;
        height: 370px;
    }

    .main-block.block {
        padding: 20px 0;
    }

}
/*main style end*/