# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\openserver\domains\vladshcherbachenia-moskitki-b0669c7f5d71\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
